<form
  #f="ngForm"
  (ngSubmit)="onSubmit(f)"
  class="form-horizontal "
>
  <div class="row form-group">
    <div class="col-sm-12">
      <label for="nome" class="form-label">Nome</label>
      <input
        type="text"
        class="form-control"
        id="nome"
        name="nome"
        [(ngModel)]="usuario.nome"
        required
        #nome="ngModel"
      />
      <app-campo-control-erro
        [mostrar]="MostraErro(nome)"
        msgErro="Nome é obrigatório."
      ></app-campo-control-erro>
    </div>
    <div class="col-sm-12">
      <label for="exampleInputEmail1">Endereço de email</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Seu email"
        name="email"
        [(ngModel)]="usuario.email"
        required
        email
        #email
      />
    </div>
  </div>
  <div ngModelGroup="endereco">
    <div class="row form-group">
      <div class="col-md-3">
        <label for="cep" class="control-label">CEP</label>
        <input
          type="text"
          class="form-control"
          id="cep"
          name="cep"
          ngModel
          required
          #cep="ngModel"
          (blur)="consultaCEP(cep.value, f)"
        />
        <app-campo-control-erro
          [mostrar]="MostraErro(cep)"
          msgErro="Cep é obrigatório."
        ></app-campo-control-erro>
      </div>
      <div class="col-md-3">
        <label for="numero" class="control-label">numero</label>
        <input
          type="number"
          class="form-control"
          id="numero"
          name="numero"
          ngModel
          required
          #numero="ngModel"
        />
        <app-campo-control-erro
          [mostrar]="MostraErro(numero)"
          msgErro="numero é obrigatório."
        ></app-campo-control-erro>
      </div>
      <div class="col-md-6">
        <label for="complemento" class="control-label">complemento</label>
        <input
          type="text"
          class="form-control"
          id="complemento"
          name="complemento"
          ngModel
          required
          #complemento="ngModel"
        />
        <app-campo-control-erro
          [mostrar]="MostraErro(complemento)"
          msgErro="complemento é obrigatório."
        ></app-campo-control-erro>
      </div>
    </div>
    <div class="row form-group">
      <div class="col md-12">
        <label for="rua" class="control-label">Rua</label>
        <input
          type="text"
          class="form-control"
          id="rua"
          name="rua"
          ngModel
          required
          #rua="ngModel"
        />
        <app-campo-control-erro
          [mostrar]="MostraErro(rua)"
          msgErro="rua é obrigatório."
        ></app-campo-control-erro>
      </div>
    </div>
    <div class="row form-group">
      <div class="col md-12">
        <label for="bairro" class="control-label">bairro</label>
        <input
          type="text"
          class="form-control"
          id="bairro"
          name="bairro"
          ngModel
          required
          #bairro="ngModel"
        />
        <app-campo-control-erro
          [mostrar]="MostraErro(bairro)"
          msgErro="bairro é obrigatório."
        ></app-campo-control-erro>
      </div>
      <div class="col md-12">
        <label for="cidade" class="control-label">cidade</label>
        <input
          type="text"
          class="form-control"
          id="cidade"
          name="cidade"
          ngModel
          required
          #cidade="ngModel"
        />
        <app-campo-control-erro
          [mostrar]="MostraErro(cidade)"
          msgErro="cidade é obrigatório."
        ></app-campo-control-erro>
      </div>
      <div class="col md-12">
        <label for="estado" class="control-label">estado</label>
        <input
          type="text"
          class="form-control"
          id="estado"
          name="estado"
          ngModel
          required
          #estado="ngModel"
        />
        <app-campo-control-erro
          [mostrar]="MostraErro(estado)"
          msgErro="estado é obrigatório."
        ></app-campo-control-erro>
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="!f.valid">
    Enviar
  </button>
</form>

<br /><br />
<app-form-debug [form]="f"></app-form-debug>
