<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container search-table">
  <div class="search-box">
    <div class="row">
      <div class="col-md-9">
        <input
          type="text"
          id="myInput"
          class="form-control"
          [formControl]="queryField"
          placeholder="Search all fields e.g. HTML"
        />
      </div>
      <div class="col-auto">
        <button class="btn btn-primary" (click)="onSearch()">Search</button>
      </div>
    </div>
  </div>
  <div class="search-list">
    <table class="table" id="myTable">
      <h3>{{ total }} </h3>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Versão</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let result of results$ | async">
          <td>{{result.name}}</td>
          <td>{{result.version}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
