<h1>exemplos-pipe</h1>
<h3>Pipe Async.</h3>
<h4> {{ valorAsync | async }} </h4>

<h4> {{ valorAsyncB | async }} </h4>


<h3>Pipe puro.</h3>
<ul>
    <li *ngFor="let liv of livros | filtroArray:filtro">
        {{ liv }}
    </li>
</ul>

<h3>Pipe impuro.</h3>
<ul>
    <li *ngFor="let liv of  livros | filtroArrayImpuro:filtro">
        {{ liv }}
    </li>
</ul>
<h3>Maneira correta de usar filtro nos projetos.</h3>
<ul>
    <li *ngFor="let liv of obterCursos()">
        {{ liv }}
    </li>
</ul>

<input type="text" [(ngModel)]="filtro">
<br>
<input type="text" #curso>
<button class="btn btn-primary" (click)="addCurso(curso.value)">Inserir livro</button>

<article>
    <div>
        <p>Titulo: {{ livro.titulo | uppercase | camelCase }}  </p>
        <p>Estrelas: {{ livro.rating | number:'2.1-2' }}  </p>
        <p>Páginas: {{ livro.numeropaginas }}  </p>
        <p>Preco: {{ livro.preco | currency:'BRL' }}  </p>
        <p>DataLancamento: {{ livro.dataLancamento | date:'full' }}  </p>
        <p>Url: {{ livro.url }}  </p> 
    </div>
</article>

<pre>{{ livro | json }}</pre>




