
<app-diretivas-customizadas></app-diretivas-customizadas>

<app-exemplo-ng-content>
    <div class="titulo">
        Conteudo passado para o componente.
    </div>
    <div class="corpo">
        <app-diretiva-ngtyle></app-diretiva-ngtyle>
    </div>
</app-exemplo-ng-content>

<app-operador-elvis></app-operador-elvis>

<app-diretiva-ngtyle></app-diretiva-ngtyle>

<app-diretiva-ngclass></app-diretiva-ngclass>

<app-diretiva-ngfor></app-diretiva-ngfor>

<app-diretiva-ngswitch></app-diretiva-ngswitch>

<app-diretiva-ngif></app-diretiva-ngif>

